nav{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    border-right: 1px solid var(--border-color-1);
    background: var(--foreground);
}

.hamburger{
    display: none;
}

.logobox{
    height: fit-content;
    padding: 8px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 64px;
    height: 32px;
    background: #93C5FD;
    border: 1px solid #2563EB;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top{
    width: 224px;
    height: fit-content;
    gap: 16px;
}

.navmenu{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navitems{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 8px;
    cursor: default;
}

.navitem{
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 8px;
    gap: 16px;
    border-radius: 2px;
}
.navitem img{
    width: 20px;
    height: 20px;
}

.navitem text{
    width: 172px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--text-color-1);
}

.navitem .home{
    background: var(--home-bg);
}

.navitem .home text{
    color: var(--home-color);
}

.navitem:active, .navitem:focus{
    background: var(--home-bg);
    color: var(--home-color);
}

.bottom{
    height: fit-content;
    margin-top: 0;
}

.darkmode{
    width: 120px;
    height:fit-content;
    padding: 0px 8px;
    gap: 8px;
    display: flex;
    align-items: center;
    cursor: default;
}

.darkmode text{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: var(--text-color-1);
}

.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-bg);
    transition: .4s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2.4px;
    bottom: 2.5px;
    background-color: white;
    transition: .4s;
}

input:checked+.toggle {
    background-color: #8576FF;
}

input:focus+.toggle {
    box-shadow: 0 0 1px #8576FF;
}

input:checked+.toggle:before {
    transform: translateX(8px);
}

.toggle.round {
    border-radius: 34px;
}

.toggle.round:before {
    border-radius: 50%;
}

.profile{
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 8px 16px 8px 8px;
    gap: 8px;
    cursor: default;
}

.profile img{
    width: 32px;
    height: 32px;
}

.username{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.useremail{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: var(--email)
}

@media (max-width: 500px) {
    nav{
        gap: 0;
        border-right: none;
        border-bottom: 1px solid #E2E8F0;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    
    .top{
        margin-right: 20px;
        width: 100%;
    }
    
    .navmenu.open{
        right: 0;
    }
    

    .navmenu{
        width: 90%;
        height: 100vh;
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        right: -100%;
        background: var(--foreground);
        transition: 0.5s;
    }

    .hamburger{
        display: flex;
    }
}