
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --text-color-1: #334155;
  --text-color-2: #000000;
  --text-color-3: #64748B;
  --toggle-bg: #ccc;
  --home-bg: #FCF7FF;
  --home-color: #8576FF;
  --border-color-1: #F1F5F9;
  --email: #64748B;
  --border-color-2: #F2F2F7;
  --captions-background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 65%);
  --border-color-3: #E2E8F0;
  --placeholder: #CBD5E1;
  --green-bg: #D1FAE5;
  --blue-bg: #DBEAFE;
  --modal-footer: #F8FAFC;
}


body {
  margin: 0;
  display: flex;
  font-family: Inter, system-ui, Avenir,Helvetica, Arial, sans-serif;
  color: #242424;
  background: var(--background);
  transition: 0.5s;
}

.dark-mode{
    
    --background: #383544;
    --foreground: #484554;
      --text-color-1: #FFFFFF;
      --text-color-2: #ffffff;
      --text-color-3: #ffffff;
      --toggle-bg: #ccc;
      --home-bg: #8576Ff;
      --home-color: #fff;
      --border-color-1: #484554;
      --email: #ffffff;
      --border-color-2: #383544;
      --captions-background: none;
      --border-color-3: #484554;
      --placeholder: #CBD5E1;
      --th: #6A6676;
      --green-bg: #484554;
      --green-border: #65DDB5;
      --blue-bg: #484554;
      --blue-border: #77B1FF;
    transition: 1s;
}
