/* :root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;color: #242424;
  background: #ffffff;
  min-height: 100vh;
  /* transition: 1s; */
}

.darkmode{
    background-color: #242424;
    color: #ffffff;
    transition: 1s;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: inherit;
  background: inherit;
  border-color: inherit;
} */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto;
}
