.summary{
    padding-left: 20px;
}

.welcome{
    height: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--text-color-2);
}

.stats{
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.stat{
    width: 25%;
    height: fit-content;
    padding: 16px;
    gap: 16px;
    border-radius: 2px;
    background: var(--foreground);
    border: 1px solid var(--border-color-2)
}

.stat .label{
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: var(--text-color-3);
}

.stat .value{
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: var(--text-color-2);
}

.stat .value .percentage{
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
}

.positive{
    color: #10B981;
}

.negative{
    color: #F43F5E;
}

.writeup{
    color: var(--text-color-2);
}

.summarytop{
    width: fit-content;
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.chart{
    background: var(--foreground);
    border: 1px solid var(--border-color-2);
    padding: 40px;
    border-radius: 5px;
    display: flex;
    height: 240px;
}

.carousel{
    width: fit-content;
    position: relative;
}

.backbtn{
    right: auto;
    left: 1rem;
}

.nextbtn, .backbtn{
    position: absolute;
    width: 24px;
    height: 24px;
    background: #fff;
    top: 48%;
    right: 1rem;
    z-index: 1;
    transform: translateY(-50%);
    padding: 4px;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid #E2E8F0;
    cursor: pointer;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
}

.hiddenslide, .hiddencaptions{
    display: none;
}

.caption{
    position: absolute;
    top: 52%;
    padding: 16px;
    width: 480px;
    background: var(--captions-background)
}

.caption .header{
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #fff;
    margin-bottom: 8px;
}

.caption .paragraph{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #fff;
}

.indicators{
    display: flex;
    position: absolute;
    left: 46%;
    bottom: 1rem;
    gap: 0.2rem;
}

.indicator{
    background: #fff;
    height: 0.2rem;
    width: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.inactiveindicator{
    background: grey;
}

.toolbar , .modulebottom{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

.toolbar .left{
    display: flex;
    gap: 8px;
}

.toolbar .left input[type=search]{
    display: flex;
    border: 1px solid var(--border-color-3);
    height: fit-content;
    padding: 10px 10px 10px 30px;
    gap: 8px;
    border-radius: 2px;
    background-image: url(../assets/search.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background: var(--foreground);
}

.toolbar .left input::placeholder{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--placeholder);
}

.dropdown{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    gap: 8px;
    border: 1px solid var(--border-color-3);
    border-radius: 2px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--text-color-1);
    background: var(--foreground);
}

.right{
    display: flex;
    gap: 8px;
}

.sort, .export{
    display: flex;
    gap: 8px;
}

.dots{
    padding: 8px;
}

.toolbar text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    align-self: center;
}

.table{
    display: flex;
    margin-top: 16px;
}

.column{
    width: 100%;
}

.cell{
    height: 48px;
    padding: 8px 16px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--text-color-1);
    display: flex;
    align-items: center;
}

.th{
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    background: var(--border-color-3);
}

.category {
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    gap: 4px;
    border-radius: 100px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.cell .dot{
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin: 5px;
}

.greendot{
    background: #10B981;
}

.bluedot{
    background: #3B82F6;
}

.green{
    color: #10B981;
    background: var(--green-bg);
    border: 1px solid var(--green-border)
}

.blue{
    color: #3B82F6;
    background: var(--blue-bg);
    border: 1px solid var(--blue-border);
    cursor: pointer;
}

.modulebottom{
    padding-bottom: 25px;
}

.pagination{
    display: flex;
    align-items: center;
    gap: 16px;
}

.pagination img{
    width: 20px;
    height: 20px;

}

.prev, .next{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color-3);
    border-radius: 2px;
}

.prev{
    background: var(--border-color-3);
}

.next{
    background: var(--foreground);
}

.numbers{
    padding: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
}

.one{
    background: #8576FF;
    color: var(--background);
}

.rows{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color-1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align-last: left;
}

footer{
    display: none;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 1px 0px 0px #F3F4F6 inset;
    padding-top: 8px;
}

.bottomnav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: var(--text-color-1);
}

.bottomnav img{
    width: 24px;
    height: 24px;
}

.bottomnav .home{
    color: #8576FF;
}

.bottomnav:active, .bottomnav:focus{
    border-top: 2px solid #8576FF;
}


@media (max-width: 500px) {
    .welcome{
        margin-top: 15px;
    }
    
    .stats{
        flex-direction: column;
        margin-right: 20px;
    }

    .stat{
        width: 90%;
    }

    .summarytop{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .chart{
        padding: 20px;
        width: 83%;
        margin-right: 20%;
    }
    .carousel{
        margin-right: 20px;
    }
    
    .carousel .slide{
        width: 100%;
        height: 320px;
    }

    .caption {
        width: 90.5%;
        padding: 5%;
    }
    
    .caption .paragraph{
        font-size: 11px;
    }

    .toolbar{
        flex-direction: column;
        align-items: normal;
    }

    .toolbar .left{
        flex-direction: column;    
    }

    .left .dropdown{
        width: 88%;
        justify-content: center;    
    }

    input[type=search]{
        width: 96%;
    }

    .left text{
        align-self: normal;
    }

    .right{
        flex-direction: column;
    }

    .sort, .export{
        justify-content: space-between;
        margin-right: 20px;
    }

    .column:nth-child(2), .column:nth-child(3){
        display: none;
    }

    .table{
        margin-right: 20px;
    }

    .dot{
        display: none;
    }

    .green{
        background: #10B981;
        color: #fff;
    }

    .blue{
        background: #3B82F6;
        color: #fff;
    }

    .rows text{
        display: none;
    }

    footer{
        display: flex;
    }
}